.my-btn {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
  user-select: none;
  transition: 0.15s ease;
  padding: 14px;
  z-index: 1;
  font-size: 16px;
  font-weight: var(--fw-600);
}

.my-btn.my-btn-fill-dark {
  background-color: var(--navy);
  color: var(--white);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.my-btn.my-btn-fill-dark.my-btn-round {
  border-radius: 30px;
}

.my-btn.my-btn-fill-dark::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2ea2cc;
  transition: 0.5s;
}

.my-btn.my-btn-fill-dark:hover::after {
  width: calc(100% - 5px);
  left: 0;
  border-left: 3px solid #b3af54;
  border-right: 3px solid #b3af54;
}

.my-btn.my-btn-fill-dark span {
  position: relative;
  z-index: 2;
}

.my-btn.my-btn-fill-dark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #b3af54;
  transition-delay: 1s;
  transition: 0.5s linear;
}

.my-btn.my-btn-fill-dark:focus::before {
  top: 0;
  height: 100%;
  background-color: #b3af54;
  transition-delay: 1s;
}

.my-btn.close-btn {
  width: 32px;
  height: 32px;
  border: 1px solid #e9e6ed;
  border-radius: 3px;
  font-size: 18px;
  color: #bb7878;
}

.my-btn.close-btn:active {
  color: #515151;
  transform: translateY(-5px);
}

.my-btn.close-btn:hover {
  background-color: #f8f8f8;
}

.my-btn-pill {
  border-radius: 30px;
  padding: 15px 25px;
}