/* Font Cnd */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Remix icon cnd */
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');




:root {
    /*______  Color  ______ */
    --gray: #787575;
    --dark-gray: #989191;
    --light-gray: #d8d5d5;
    --dark: #1d1f33;
    --medium-gray: #555454;
    --medium-gray-opacity: #262424;
    --green: #007a00;
    --orange: #f96132;
    --red: #f00b0b;
    --white: #fff;
    --white-off: #fbeeee;
    --white-off2: #ecd7d7;
    --purple: #3c3c4e;
    --purple-dark: #21243d;
    --navy: #113f67;
    --rgba-1: #0000004e;
    --rgba-2: #f00b0bc8;
    /*______  Font Size  ______ */
    --fs-xs: 11px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 21px;
    --fs-xxl: 27px;
    --fs-xxxl: 36px;
    --fs-4xl: 60px;

    box-shadow: rgba(196, 22, 22, 0.1) 0px 4px 12px;


    /*______  Font Weight  ______ */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;


    --font-montserrat: "Montserrat",
        system-ui;

    --gradient-1: linear-gradient(to right, #1f5376, #245b80);


    /* shadow */
    --shadow-0: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --shadow-1: 0 2px 3px rgba(0, 0, 0, .04);
    --shadow-2: 0 2px 5px rgba(0, 0, 0, .07);


    /*_________ section-bg || page bg __________*/
    --top-header-bg: var(--dark);
    --main-header-bg: var(--orange);
    --banner-bg: var(--red);
    --footer-top: var(--dark);
    --footer-main: var(--dark);
    --brand-bg: var(--orange);
}







@media (max-width:991px) {
    :root {
        /*______  Font Size  ______ */
        --fs-xs: 11px;
        --fs-sm: 13px;
        --fs-md: 15px;
        --fs-lg: 16px;
        --fs-xl: 18px;
        --fs-xxl: 21px;
        --fs-xxxl: 28px;
    }
}