.booking-banner {
    background-color: var(--orange);
    padding: 0;
}

.booking {
    padding: 50px 0;
}

.booking-form .card {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    margin-top: 25px;
    border-radius: 12px;
    box-shadow: var(--shadow-2);
}

.booking-form .my-input-control,
.contact-section .my-input-control {
    border-radius: unset;
    background-color: var(--white-off);
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.booking-form .my-input-control input,
.contact-section .my-input-control input {
    padding: 10px;
    /* background-color: tr; */
}

.booking-form .my-input-control label,
.contact-section .my-input-control label {
    color: var(--gray);
    font-weight: var(--fw-600);
}



.booking-form .check-box,
.contact-section .check-box {
    width: fit-content;
}