/* ____________   Banner  ___________ */
.banner {
    width: 100%;
    height: 666px;
    padding: 30px 0;
    position: relative;
    z-index: 1;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--rgba-1);
    z-index: 2;
    object-fit: cover;
    pointer-events: none;
}

.banner-area {
    position: relative;
    z-index: 3;
}

.background-video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .slide-area {
    padding: 30px;
    border-radius: 6px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.banner .slide-area .content {
    color: var(--white-off);
}

.banner .slide-area button {
    padding: 16px 45px;
    border-radius: 30px;
    background-color: var(--navy);
}



/* ____________   Services Start  ___________ */
.services-area .card {
    transition: .25s linear;
}

.services-area .card img {
    width: 110px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.services-area .card button {
    padding: 14px 25px;
}


.services-area .card::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    color: var(--white-off);
    width: 0;
    height: 100%;
    transition: .2s linear;
    background-color: var(--white-off);
    z-index: -1;
}


.services-area .card {
    padding: 20px 15px;
    z-index: 1;
}


.services-area .card:hover::after {
    width: 100%;
    left: unset;
    right: 0;
}

.services-area .card:hover {
    transform: scale(.97)
}

.services-area .card:hover p {
    color: var(--gray);
}


.services-area .my-btn {
    background-color: var(--navy);
    color: var(--white);
}






/* ____________   Our Rates  ___________ */
.our-rates-area .card {
    padding: 15px 35px;
    border-radius: 12px;
    transition: .2s linear
}

.our-rates-area .card:hover {
    transform: translateY(10px);
}

.our-rates-area .card {
    width: 235px;
}

.our-rates-area .card:nth-child(2) .round {
    background-color: var(--navy);
}

.our-rates-area .card:nth-child(3) .round {
    background-color: var(--gray);
}

.our-rates-area .card:nth-child(4) .round {
    background-color: var(--green);
}

.our-rates-area .card:nth-child(5) .round {
    background-color: var(--purple);
}








/* ___________ Brand __________ */
.brand-section {
    background-color: var(--brand-bg) !important;
    padding: 100px 0;
}

.marquee .marqueeone {
    animation: slider-animation 80s linear infinite;
}

.marquee {
    height: 160px;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.marqueeone img {
    width: 80%;
    max-width: 250px;
    height: 80%;
    max-width: 240px;
    border-right: 1px solid var(--white-off);
}

.marquee div {
    position: absolute;
    width: 100%;
    left: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes slider-animation {
    0% {
        left: 0%;
    }

    100% {
        left: -400%;
    }
}







/* ____________   Blogs Start  ___________ */
.blogs .card {
    padding: 15px;
    border-radius: 12px;
    transition: transform .3s linear;
    position: relative;
}

.blogs .card img {
    border-radius: 4px;
    padding: 5px;
}

.blogs .card .my-sub-title {
    color: var(--navy);
    line-height: 26px;
    font-weight: var(--fw-700);
}

.blogs .card p {
    color: var(--gray);
}

.blogs .card a {
    background-color: var(--orange) !important;
    color: var(--white);
}

.blogs .card a:hover {
    background-color: var(--red) !important;
}

.blogs .card a span {
    margin-top: 4px;
}

.blogs .card .img-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid var(--white-off);
}

.blogs .card img {
    height: 197px;

}

.blogs .card:hover {
    transform: scale(.96);
}

.blogs .card::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 8px;
    width: 0;
    background-color: var(--orange);
    transition: width 0.4s linear, left 1s linear;
    transform-origin: left;
    transform: scale(0);
}

.blogs .card:hover::before {
    right: 0;
    width: 100%;
    transform-origin: right;
    transform: scale(1);
}





/* ____________   All Reviews  ___________ */
.reviews-area .left {
    max-width: 300px;
}

.swiper-reviews .swiper-slide {
    display: flex;
    align-items: flex-start;
    height: fit-content;
}

.swiper-reviews .card p {
    text-align: left;
}

.reviews-area .swiper-reviews {
    width: 100%;
    overflow: hidden;
}

.reviews .happy {
    width: 80px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid var(--white-off);
}

.all-reviews .card {
    padding: 15px;
}

.all-reviews .profile {
    width: 45px;
    height: 45px;
}

.all-reviews .google-image {
    width: 25px;
}

.all-reviews .card .my-btn {
    padding-left: 2px;
}

.all-reviews .check {
    width: 17px;
    height: 17px;
    margin-top: -1px;
}

.all-reviews .card p {
    line-height: 24px;
}





/* ____________   Quick Links  ___________ */
.quick-links .item {
    padding: 20px;
    border-radius: 12px;
    background-color: var(--white-off);
}

.quick-links .item p {
    color: var(--gray);
}

.quick-links .item img {
    width: 50px;
}








/* ____________ Faq  Start  ___________ */
.faq-container {
    width: 60%;
}

.faq-item {
    margin-bottom: 15px;
    border: 1px solid var(--white-off);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--shadow-2);
}

.faq-question {
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: var(--fs-md);
    color: var(--gray);
}

.faq-question i {
    font-size: var(--fs-xxxl);
    color: var(--gray);
}

.faq-question:hover {
    background-color: var(--white-off);
}

.faq-answer {
    display: none;
    padding: 15px;
}

.faq-item.open .faq-answer {
    color: var(--gray);
    display: block;
    font-size: var(--fs-md);
    line-height: 25px;
}

.faq-item.open .faq-question {
    background-color: var(--white-off);
}

.faq-area img {
    max-width: 80%;
}


/* offer */
.offer,
.property,
.calculator-section {
    background-image: url('https://tebewebe.online/bellifin/wp-content/uploads/sites/87/2024/02/bank-note-1.png');
    background-size: 70px auto;
    background-repeat: repeat;
    position: relative;
    z-index: 3;

}

.offer::after,
.calculator-section::after,
.property::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(242, 242, 242, 0.867), rgba(245, 245, 245, 0.571), rgba(246, 246, 246, 0.862));
    z-index: -1;
}

.offer .top {
    background-color: #f6eeee;
    padding: 15px;
    border-radius: 6px;
}

.offer .my-title {
    color: var(--dark);
    font-size: var(--fs-xxl);
}

.offer .card {
    border: none;
    box-shadow: var(--shadow-2);
}

.offer .top img {
    width: 45px;
}

.offer ul li i {
    color: var(--red);
    font-size: var(--fs-xl);
}

.offer ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    border-bottom: 1px dotted var(--white-off2);
    padding: 8px 0;
    color: var(--gray);
}

/* ____________ appointment  s  ___________ */
.appointment-content {
    max-width: 30%;
    max-width: 500px;
}

.appointment-content .my-title {
    font-size: var(--fs-xxxl);
    line-height: 45px !important;
    font-weight: var(--fw-700);
}

.appointment-right {
    width: calc(100% - 550px);
    max-width: 600px;
    border: 10px solid var(--white-off2);
    border-radius: 8px;
}

.appointment-content .icon-wrapper {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--white-off);
    color: var(--gray);
    font-size: var(--fs-xxl);
}


/*_______ britcamp _______ */
.britcamp {
    margin-bottom: 0 !important;
    padding-bottom: 0;
    padding: 10px 5px;
}

.britcamp li a {
    font-weight: var(--fw-600);
    font-size: var(--fs-md);
    color: var(--gray);
    position: relative;
}

.britcamp ul li:not(:last-child) a::after {
    content: '';
    position: absolute;
    top: 3px;
    right: -15px;
    width: 2px;
    height: 15px;
    background-color: var(--white-off2);
}

.britcamp li a.active {
    color: var(--dark);
}

.britcamp li:hover a {
    text-decoration: underline !important;
}




/* _________  Responsive 991  __________ */
@media (max-width:991px) {

    /* service section */
    .services-area.my-grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .reviews-area .left {
        width: 100%;
        margin: 0 auto;
    }

    .services-area .card {
        max-width: 380px;
        width: 100%;
    }

    .our-rates-area {
        flex-wrap: wrap;
        row-gap: 25px;
    }

    .our-rates-area .card {
        width: 100%;
        max-width: 250px;
        padding-bottom: 30px;
        margin: 0 auto;
    }


    .quick-links-area .right img {
        max-width: 650px;
    }


    /* appointment-area */
    .appointment-area,
    .faq-area,
    .quick-links-area {
        flex-direction: column;
        gap: 40px;
    }

    .appointment-right {
        width: calc(100%);
        max-width: 600px;
    }


    .faq-container {
        width: 100%;
        max-width: 600px;
    }

    .faq-area .left {
        width: 100%;
        max-width: 500px;
    }

    .faq-area img {
        max-width: 100%;
    }

}





/* _________  Responsive 769  __________ */
@media (max-width:769px) {

    html {
        overflow-x: hidden !important;
    }

    body {
        overflow-x: hidden !important;
    }

    /*banner slider */
    .banner .slide-area {
        flex-direction: column;
        gap: 25px;
    }

    .banner .slide-area {
        padding: 0;
    }

    .banner .content,
    .banner .right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-right: 0;
    }

    .banner .content p {
        max-width: 320px;
        width: 100%;
        text-align: center;
    }

    .banner .swiper-slide {
        padding-bottom: 30px;
    }

    .banner .right img {
        width: 90%;
        margin: 0 auto;
    }





    /* ____________   Services Start  ___________ */
    .services-area.my-grid-4 {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .our-rates-area .card {
        width: 100%;
        max-width: 250px;
        padding-bottom: 30px;
        margin: 0 auto;
    }


    /* ____________   Brand Start  ___________ */
    .brand-section {
        padding: 30px 0;
    }

    .brand-section .my-container {
        padding: 0;
    }

    .brand-section .marquee {
        height: 120px;
    }


    /* ____________   Blogs Start  ___________ */
    .blogs .my-grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs .my-grid-3 .card {
        max-width: 450px;
        margin: 0 auto;
    }


    /* ____________   Reviews Start  ___________ */
    .reviews-area {
        flex-direction: column;
    }

    .all-reviews .card {
        max-width: 450px;
        width: 100%;
    }

}



/* _________  Responsive 576  __________ */
@media (max-width:576px) {

    /* ____________   Services Start  ___________ */
    .services-area.my-grid-4 {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-rates-area .card {
        width: 100%;
        max-width: 300px;
        padding-bottom: 30px;
        margin: 0 auto;
    }

}